shared/__pycache__/__init__.cpython-311.pyc
shared/__pycache__/*.pyc
scripts/__pycache__/__init__.cpython-311.pyc
scripts/__pycache__/*.pyc
src/__pycache__/__init__.cpython-311.pyc
src/__pycache__/*.pyc
src/modules/__pycache__/__init__.cpython-311.pyc
src/modules/__pycache__/*.pyc
src/modules/rcnn_model/__pycache__/__init__.cpython-311.pyc

src/modules/rcnn_model/__pycache__/*.pyc

legacy
*.pyc
data/fasta/
data/embeddings/